{% load dict_access %}
<li>{{ seg_form.advertiser }}</li>
<li>{{ seg_form.length }}</li>
<li>{{ seg_form.spoken.label }} {{ seg_form.spoken }}</li>
<li>
  {{ seg_form.category.errors }}
  <div class='btn-group' data-toggle='buttons'>
  {% for cat in seg_form.category %}
  <label class='btn btn-primary 
    {% if "checked" in cat.tag|stringformat:"s" %} active{% endif %}'>
    {{ cat.0|stringformat:"s" }} {{ seg_form.category.initial }} {{ cat.tag }} {{ cat.choice_label }}
  </label>
  {% endfor %}
  </div>
</li>
