{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <title>CHCR CRTC and SOCAN Logger - 
      {% block title %}Log in{% endblock %}</title>
  </head>

  <body>
    {% block crumbs %}
    <ul class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Shows</li>
    </ul>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <!-- TODO check ajax_selects jQuery works with Bootstrap's JavaScript plugins) -->
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'ajax_select.js' %}"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script-->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
