{% extends "base.html" %}


  {% block crumbs %}
    <ul class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="{% url "shows" %}">Shows</a></li>
      <li class="active">{{show}}</li>
    </ul>
    {% endblock %}
 

{% block content %}
<h2>{{ show }}</h2>
<form method="POST" action="">
  {% csrf_token %}
  <ul class="list-inline">
    {{ form.as_ul }}
    <input class="btn btn-primary" type="submit" id='create_episode' value="Create Episode">
  </ul>
</form>

<ul>
  {% for episode in episode_list %}
  <li> <a href="/logger/episode/{{episode.id}}">{{ episode }}</a> </li>
  <li> {{ episode.stat }} </li>
  {% endfor %}
</ul>
{% endblock %}
