{% extends "base.html" %}

  {% block crumbs %}
    <ul class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="{% url "shows" %}">Shows</a></li>
      <li><a href="{% url "edit-show" episode.show.id %}">{{episode.show}}</a></li>
      <li class="active">{{episode.air_date}}</li>
    </ul>
    {% endblock %}
 
{% block content %}
<h2>{{episode}}</h2>
<form method="POST" action="">
<ul class="list-inline">
  {% csrf_token %}
  {{ form.as_ul }}
  <input class="btn btn-primary" type="submit">
</ul>
</form>
<ul>
  {% for segment in segment_list reversed %}
  <li> {{ segment }} </li>
  {% endfor %}
</ul>
{% endblock %}
