{% extends "base.html" %}
{% load dict_access %}

  {% block crumbs %}
    <ul class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="{% url "shows" %}">Shows</a></li>
      <li><a href="{% url "edit-show" episode.show.id %}">{{episode.show}}</a></li>
      <li class="active">{{episode.air_date}}</li>
    </ul>
    {% endblock %}
 
    {% block content %}
    <h2>{{episode}}</h2>

    {% if user.id == episode.show.dj.user.id %}
    <ul class='nav nav-tabs'>
      {% for seg_name in ordered_names %}
      <li{% if seg_name == seg_type %} class='active'{% endif %}>
        <a href='#{{ seg_name }}' data-toggle='tab'>
          {{ seg_name }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <div id='segforms' class='tab-content'>
      {% for seg_name in ordered_names %}
      <div class='tab-pane{% if seg_name == seg_type %} active{% endif %}' id='{{ seg_name }}'>
        <h3 class="head" id="{{ seg_name }}Type">
          <div class='inline' id="Lookup{{ seg_name }}Title"{% if not seg_auto %} 
            style="display:none"{% endif %}>Log Existing {{ seg_name }}</div>
          <div class='inline' id="New{{ seg_name }}Title"{% if seg_auto %} 
            style="display:none"{% endif %}>Create {{ seg_name }}</div>
          <ul class='inline pull-right' id='Lookup{{ seg_name }}'>
            <li class='label small'{% if seg_auto %} class="active" style="display:none"{% endif %}> 
            <a href="#Auto{{ seg_name }}" onClick="switchType('#{{ seg_name }}Type', true)" data-toggle='tab'>
              Look Up {{ seg_name }}</a>
            </li>
            <li class='label small'{% if not seg_auto %} style="display:none" class="active"{% endif %}> 
            <a href="#New{{ seg_name }}" onClick="switchType('#{{ seg_name }}Type', false)" data-toggle='tab'
              id='new_{{ seg_name }}'>
              Create {{ seg_name }}</a>
            </li>
          </ul>
        </h3>
        <form method="POST" action="">
          {% csrf_token %}
          <input type='hidden' name='seg_type' value='{{ seg_name }}'>
          <div class='tab-content formrow'>
            <div class='tab-pane{% if seg_auto %} active{% endif %}' id='Auto{{seg_name}}'> <!-- TODO activate if autoform -->
              <div class="row">
                <div class="col-sm-12">
                  {% with 'Auto'|add:seg_name as auto_seg_name %}
                  {% with forms|access:auto_seg_name as auto_form %}
                  {{ auto_form|access:seg_name }}
                  {% endwith %}
                  {% endwith %}
                </div>
              </div>
            </div>
            <div class='tab-pane{% if not seg_auto %} active{% endif %}' id='New{{ seg_name }}'>
              {% with forms|access:seg_name as seg_form %}
              {% include seg_name|add:"Form.html" %}
              {% endwith %}
            </div>
          </div>
          <div class="logrow">
            <div class="row">
              <div class="col-sm-3">{{ form.time.errors }}
                  {{ form.time }}<br>
                <span class="btn-xs btn-primary" 
                  onClick='enter_now($("#{{ seg_name }}"))'>Now
                </span>&nbsp;
                <span class="btn-xs btn-primary" 
                  onClick='enter_last($("#{{ seg_name }}"),
                  "{{ last_seg_time }}")'>Last
                </span>
              </div>
              <div class="col-sm-3">
                <input class="btn btn-primary" type="submit" id="play_{{ seg_name }}" value="Log {{ seg_name }}">
              </div>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class='container' id='segment_list'>
      {% for segment in segment_list %}
      {% include segment.seg_content.cname|add:".html" %}
      {% endfor %}
    </div>
    {% endblock %}
