{% extends "base.html" %}
{% load dict_access %}

  {% block crumbs %}
    <ul class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="{% url "shows" %}">Shows</a></li>
      <li><a href="{% url "edit-show" episode.show.id %}">{{episode.show}}</a></li>
      <li class="active">{{episode.air_date}}</li>
    </ul>
    {% endblock %}
 
    {% block content %}
    <h2>{{episode}}</h2>

    <ul class='nav nav-tabs'>
      {% for seg_name in ordered_names %}
      <li{% if seg_name == seg_type %} class='active'{% endif %}>
        <a href='#{{ seg_name }}' data-toggle='tab'>
          {{ seg_name }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <div id='segforms' class='tab-content'>
      {% for seg_name in ordered_names %}
      <div class='tab-pane{% if seg_name == seg_type %} active{% endif %}' id='{{ seg_name }}'>
        <form method="POST" action="">
          {% csrf_token %}
          <input type='hidden' name='seg_type' value='{{ seg_name }}'>
          <ul class="list-inline">
            {{ form.as_ul }}
            <li><small 
              onClick='enter_now($("#{{ seg_name }}"))'>&lt;- Now
            </small>
            <small 
              onClick='enter_last($("#{{ seg_name }}"),
              "{{ last_seg_time }}")'>&lt;- Last
            </small>
          </ul>
          <ul class='nav nav-pills' id='Lookup{{ seg_name }}'>
            <li class="active"> 
              <a href="#Auto{{ seg_name }}" data-toggle='tab'>
                Look Up Existing {{ seg_name }}</a>
            </li>
            <li> 
              <a href="#New{{ seg_name }}" data-toggle='tab'
                id='new_{{ seg_name }}'>
                Create New {{ seg_name }}</a>
            </li>
          </ul>
          <div class='tab-content'>
            <div class='tab-pane active' id='Auto{{seg_name}}'> <!-- TODO activate if autoform -->
              <ul class="list-inline">
                {% with 'Auto'|add:seg_name as auto_seg_name %}
                {% with forms|access:auto_seg_name as auto_form %}
                {{ auto_form.as_ul }}
                {% endwith %}
                {% endwith %}
              </ul>
            </div>
            <div class='tab-pane' id='New{{ seg_name }}'>
              <ul class="list-inline">
                {% with forms|access:seg_name as seg_form %}
                {% include seg_name|add:"Form.html" %}
                {% endwith %}
              </ul>
            </div>
          </div>
            <input class="btn btn-primary" type="submit" id="play_{{ seg_name }}" value="Play {{ seg_name }}">
        </form>
      </div>
      {% endfor %}
    </div>
    <div class='container' id='segment_list'>
      {% for segment in segment_list %}
      {% include segment.seg_content.cname|add:".html" %}
      {% endfor %}
    </div>
    {% endblock %}
